:root {
  --max-width: 1100px;

  --color-win: 78, 160, 79;
  --color-loss: 255, 7, 37;
  --color-background: 12, 18, 12;
  --color-main: 199, 214, 213;
  --color-secondary: 170, 190, 187;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(var(--color-background));
}
h1,
h2,
h3,
h4,
h5{
  color:rgb(var(--color-main));
}
p,
a,
label{
  color: rgb(var(--color-secondary));

}
a {
  text-decoration: none;
}


.flex-col{
  display: flex;
  flex-direction: column;
}
.p-2{
  padding:2rem
}
.p-4{
  padding:4rem
}
.text-size{
  font-size: var(--text-size);
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.gap-1{
  gap:1rem;
}
.gap{
  gap:var(--gap);
}
.space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.border-bottom-secondary{
  border-bottom: 1px rgb(var(--color-secondary)) solid;
}
.h{
 height: var(--height);
}
.p{
  padding: var(--padding);
}
.m{
  padding: var(--margin);
}
/* cursor */
.pointer{
  cursor: pointer;
}

/* position */
.relative{
  position: relative;
}
.absolute{
  position:absolute;
}

.profile-pic-parent{
  position: relative;
  top: 0;
  left: 0;
  height: fit-content;
  margin:0.5rem 1.7rem 0rem 1.7rem;
  padding-bottom: 6rem;
}
.profile-pic{
  position: relative;
  top: 0px;
  left: 0px;
  width: 10rem;
  border-radius: 50%;
}
.profile-pic-border{
  position: absolute;
  top: -7.188rem;
  left: -6.438rem;
  width: 23rem;
}
.profile-pic-background{
  position: absolute;
  top: -1.875rem;
  left: -6.063rem;
  width: 22rem;
}
.profile-pic-text{
  position: absolute;
  display:inline-block;
  top: 220px;
  left: 80px;
  font-size: x-larger;
}
.profile-pic-text p {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  font-size: large;
}